body {
  margin: 0;
  box-sizing: border-box;
}

/* Fuentes */
@font-face {
  font-family: Shizuru;
  src: url(../media/fonts/Shizuru-Regular.ttf);
}
@font-face {
  font-family: TiltNeon;
  src: url(../media/fonts/TiltNeon-Regular-VariableFont_XROT\,YROT.ttf);
}
/* Colores */
.encabezado {
  margin: 0;
  width: auto;
  height: 125px;
  background-color: #32AEC3;
}

.logo {
  width: 125px;
  height: auto;
  padding-left: 25px;
}

.titulo {
  text-align: left;
  font-size: 50px;
  color: #CCCCCC;
  font-family: Shizuru;
  font-weight: bolder;
  letter-spacing: -2px;
}

.redes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.iconosRedes {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconosRedes a {
  width: 65px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 45px;
  color: #CCCCCC;
  border: solid 2px;
  border-radius: 90px;
  text-align: center;
  margin: 5px;
  text-decoration: none;
}

.derechos {
  font-family: TiltNeon;
  font-size: 20px;
  color: #CCCCCC;
}

.introduccion {
  font-family: TiltNeon;
  width: 80%;
  text-align: center;
  margin: auto;
  padding: 35px 0 35px 0;
  color: #32AEC3;
}
.introduccion h1 {
  font-size: 70px;
  padding: 0 0 35px 0;
}
.introduccion p {
  font-size: 20px;
}

.formulario {
  font-family: TiltNeon;
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
}
.formulario input {
  width: 250px;
  height: 30px;
  text-align: center;
  border-radius: 5px;
  margin: 15px 3px 3px 3px;
  color: #32AEC3;
  background-color: #CCCCCC;
  box-shadow: 2px 2px 4px #32AEC3, -2px -2px 4px #32AEC3;
  border: solid black 2px;
}
.formulario input::-moz-placeholder {
  color: #32AEC3;
  font-weight: bold;
}
.formulario input::placeholder {
  color: #32AEC3;
  font-weight: bold;
}
.formulario select {
  width: 250px;
  height: 30px;
  text-align: center;
  border-radius: 5px;
  margin: 15px 3px 3px 3px;
  color: #32AEC3;
  background-color: #CCCCCC;
  font-weight: bold;
  box-shadow: 2px 2px 4px #32AEC3, -2px -2px 4px #32AEC3;
  border: solid black 2px;
}
.formulario button {
  width: 100px;
  height: 30px;
  text-align: center;
  border-radius: 5px;
  margin: 15px 3px 3px 3px;
  padding-bottom: 25px;
  color: white;
  background-color: #32AEC3;
  font-weight: bold;
  box-shadow: 2px 2px 4px #CCCCCC, -2px -2px 4px #CCCCCC;
  border: solid black 2px;
}

.resultados {
  font-family: TiltNeon;
  width: 70%;
  height: auto;
  background-color: #CCCCCC;
  color: #32AEC3;
  box-shadow: 2px 2px 4px #32AEC3, -2px -2px 4px #32AEC3;
  text-align: center;
  margin: 35px auto 15px auto;
  padding: 20px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
}

.lista {
  margin-top: 25px;
}
.lista li {
  list-style-type: none;
  width: 500px;
  height: 28px;
  padding: auto;
  margin: 10px auto 10px auto;
  box-shadow: 2px 2px 4px #32AEC3, -2px -2px 4px #32AEC3;
  background-color: #CCCCCC;
  border-radius: 5px;
  border: solid black 2px;
}/*# sourceMappingURL=estilos.css.map */