body {
  margin: 0;
  box-sizing: border-box;
}

/* Fuentes */
@font-face {
  font-family: Shizuru;
  src: url(../media/fonts/Shizuru-Regular.ttf);
}
@font-face {
  font-family: TiltNeon;
  src: url(../media/fonts/TiltNeon-Regular-VariableFont_XROT\,YROT.ttf);
}
/* Colores */
.encabezado {
  margin: 0;
  width: auto;
  height: 125px;
  background-color: #32AEC3;
}

.logo {
  width: 165px;
  height: auto;
  margin-top: -7px;
  padding-left: 25px;
}

.titulo {
  text-align: left;
  font-size: 50px;
  color: #CCCCCC;
  font-family: Shizuru;
  font-weight: bolder;
  letter-spacing: -2px;
}

.redes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.iconosRedes {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconosRedes a {
  width: 65px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 45px;
  color: #CCCCCC;
  border: solid 2px;
  border-radius: 90px;
  text-align: center;
  margin: 5px;
  text-decoration: none;
}

.derechos {
  font-family: TiltNeon;
  font-size: 20px;
  color: #CCCCCC;
}

.introduccion {
  font-family: TiltNeon;
  width: 80%;
  text-align: center;
  margin: auto;
  padding: 35px 0 35px 0;
  color: #32AEC3;
}
.introduccion h1 {
  font-size: 70px;
  padding: 0 0 35px 0;
}
.introduccion p {
  font-size: 20px;
}

.formulario {
  font-family: TiltNeon;
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
}
.formulario input {
  width: 250px;
  height: 30px;
  text-align: center;
  border-radius: 5px;
  margin: 15px 3px 3px 3px;
  color: #32AEC3;
  background-color: #CCCCCC;
  box-shadow: 2px 2px 4px #32AEC3, -2px -2px 4px #32AEC3;
  border: solid black 2px;
  text-transform: capitalize;
}
.formulario input::-moz-placeholder {
  color: #32AEC3;
  font-weight: bold;
}
.formulario input::placeholder {
  color: #32AEC3;
  font-weight: bold;
}
.formulario select {
  width: 250px;
  height: 30px;
  text-align: center;
  border-radius: 5px;
  margin: 15px 3px 3px 3px;
  color: #32AEC3;
  background-color: #CCCCCC;
  font-weight: bold;
  box-shadow: 2px 2px 4px #32AEC3, -2px -2px 4px #32AEC3;
  border: solid black 2px;
  text-transform: capitalize;
}
.formulario .boton {
  width: 100px;
  height: 30px;
  text-align: center;
  border-radius: 5px;
  margin: 15px 3px 3px 3px;
  padding-bottom: 25px;
  color: white;
  background-color: #32AEC3;
  font-weight: bold;
  box-shadow: 2px 2px 4px #CCCCCC, -2px -2px 4px #CCCCCC;
  border: solid black 2px;
}

.resultados {
  text-transform: uppercase;
  font-family: TiltNeon;
  width: 50%;
  height: auto;
  background-color: #CCCCCC;
  color: #32AEC3;
  box-shadow: 2px 2px 4px #32AEC3, -2px -2px 4px #32AEC3;
  text-align: center;
  margin: 35px auto 15px auto;
  padding: 20px 10px 10px 10px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bolder;
}

.lista {
  margin-top: 25px;
}
.lista li {
  color: #32AEC3;
  font-weight: bolder;
  font-size: 18px;
  font-family: TiltNeon;
  list-style-type: none;
  padding: auto;
  margin: 10px auto 10px auto;
  text-transform: capitalize;
  text-shadow: 1px 1px 0px #CCCCCC;
}
.lista button {
  margin-left: 20px;
  width: 100px;
  height: 30px;
  text-align: center;
  border-radius: 5px;
  color: white;
  background-color: #32AEC3;
  font-weight: bold;
  box-shadow: 2px 2px 4px #CCCCCC, -2px -2px 4px #CCCCCC;
  border: solid black 2px;
}

.my-custom-button {
  width: 105px;
  height: 35px;
  text-align: center;
  border-radius: 5px;
  margin: 15px 3px 3px 3px;
  color: white;
  background-color: #32AEC3;
  font-weight: bold;
  box-shadow: 2px 2px 4px black, -2px -2px 4px #CCCCCC;
  border: solid black 2px;
}

.my-custom-popup {
  background-color: #CCCCCC;
  color: #32AEC3;
  text-shadow: 1px 1px 0px black;
  box-shadow: 2px 2px 4px #32AEC3, -2px -2px 4px #32AEC3;
}

@media screen and (max-width: 450px) {
  .encabezado {
    height: 370px;
  }
  .logo {
    width: 150px;
    margin: auto;
    padding: auto;
    padding-left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .titulo {
    text-align: center;
    font-size: 33px;
    letter-spacing: -2px;
  }
  .derechos {
    font-size: 16px;
    text-align: center;
  }
  .introduccion {
    width: 90%;
    text-align: center;
    margin: auto;
    padding: 35px 0 35px 0;
  }
  .introduccion h1 {
    font-size: 51px;
    padding: 0 0 35px 0;
  }
  .introduccion p {
    font-size: 20px;
  }
  .resultados {
    width: 85%;
    height: auto;
    margin: 35px auto 15px auto;
    padding: 10px 5px 5px 5px;
    font-size: 18px;
  }
  .lista {
    margin-top: 25px;
  }
  .lista li {
    font-size: 17px;
    margin: 10px auto 10px auto;
  }
  .lista button {
    margin-left: 10px;
    width: 75px;
    height: 30px;
  }
}
@media screen and (min-width: 451px) and (max-width: 990px) {
  .encabezado {
    height: 370px;
  }
  .logo {
    width: 150px;
    margin: auto;
    padding: auto;
    padding-left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .titulo {
    text-align: center;
    font-size: 40px;
    letter-spacing: -2px;
  }
  .derechos {
    font-size: 20px;
    text-align: center;
  }
  .introduccion {
    width: 85%;
    text-align: center;
    margin: auto;
    padding: 35px 0 35px 0;
  }
  .introduccion h1 {
    font-size: 70px;
    padding: 0 0 35px 0;
  }
  .introduccion p {
    font-size: 20px;
  }
  .resultados {
    width: 80%;
    height: auto;
    margin: 35px auto 15px auto;
    padding: 10px 5px 5px 5px;
    font-size: 18px;
  }
  .lista {
    margin-top: 25px;
  }
  .lista li {
    font-size: 18px;
    margin: 10px auto 10px auto;
  }
  .lista button {
    margin-left: 10px;
    width: 75px;
    height: 30px;
  }
}
@media screen and (min-width: 991px) and (max-width: 1240px) {
  .encabezado {
    height: 150px;
  }
  .logo {
    width: 150px;
    margin: auto;
    padding: auto;
    padding-left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .titulo {
    text-align: center;
    font-size: 40px;
    letter-spacing: -2px;
  }
  .derechos {
    font-size: 20px;
    text-align: center;
  }
}/*# sourceMappingURL=estilos.css.map */