body {
    margin: 0;
    box-sizing: border-box;
}

/* Fuentes */
@font-face {
    font-family: Shizuru;
    src: url(../media/fonts/Shizuru-Regular.ttf);
}

@font-face {
    font-family: TiltNeon;
    src: url(../media/fonts/TiltNeon-Regular-VariableFont_XROT\,YROT.ttf);
}

/* Colores */
$color1: #32AEC3;
$color2: #CCCCCC;

.encabezado {
    margin: 0;
    width: auto;
    height: 125px;
    background-color: $color1;
}

.logo {
    width: 125px;
    height: auto;
    padding-left: 25px;
}

.titulo {
    text-align: left;
    font-size: 50px;
    color: $color2;
    font-family: Shizuru;
    font-weight: bolder;
    letter-spacing: -2px;
}

.redes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.iconosRedes {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconosRedes a {
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    color: $color2;
    border: solid 2px;
    border-radius: 90px;
    text-align: center;
    margin: 5px;
    text-decoration: none;
}

.derechos {
    font-family: TiltNeon;
    font-size: 20px;
    color: $color2;
}

.introduccion{
    font-family: TiltNeon;
    width: 80%;
    text-align: center;
    margin: auto;
    padding: 35px 0 35px 0;
    color: $color1;
    
    & h1 {
        font-size: 70px;
        padding: 0 0 35px 0;
    }

    & p{
        font-size: 20px;
    }
}

.formulario{
    font-family: TiltNeon;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;

    & input {
        width: 250px;
        height: 30px;
        text-align: center;
        border-radius: 5px;
        margin: 15px 3px 3px 3px;
        color: $color1;
        background-color: $color2;
        box-shadow: 2px 2px 4px $color1, -2px -2px 4px $color1;
        border: solid black 2px;
        text-transform: capitalize;

        &::placeholder{
            color: $color1;
            font-weight: bold;
        }
    }

    & select {
        width: 250px;
        height: 30px;
        text-align: center;
        border-radius: 5px;
        margin: 15px 3px 3px 3px;
        color: $color1;
        background-color: $color2;
        font-weight: bold;
        box-shadow: 2px 2px 4px $color1, -2px -2px 4px $color1;
        border: solid black 2px;
        text-transform: capitalize;
    }

    & .boton {
        width: 100px;
        height: 30px;
        text-align: center;
        border-radius: 5px;
        margin: 15px 3px 3px 3px;
        padding-bottom: 25px;
        color: white;
        background-color: $color1;
        font-weight: bold;
        box-shadow: 2px 2px 4px $color2, -2px -2px 4px $color2;
        border: solid black 2px;
    }
}

.resultados{
    text-transform: uppercase;
    font-family: TiltNeon;
    width: 50%;
    height: auto;
    background-color: $color2;
    color: $color1;
    box-shadow: 2px 2px 4px $color1, -2px -2px 4px $color1;
    text-align: center;
    margin: 35px auto 15px auto;
    padding: 20px 10px 10px 10px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bolder;
}

.lista{ 
    margin-top: 25px;

    & li{
        color: $color1;
        font-weight: bolder;
        font-size: 18px;
        font-family: TiltNeon;
        list-style-type: none;
        padding: auto;
        margin: 10px auto 10px auto;
        text-transform: capitalize;
        text-shadow: 1px 1px 0px $color2;
    }

    & button{
        margin-left: 20px;
        width: 100px;
        height: 30px;
        text-align: center;
        border-radius: 5px;
        color: white;
        background-color: $color1;
        font-weight: bold;
        box-shadow: 2px 2px 4px $color2, -2px -2px 4px $color2;
        border: solid black 2px;
    }
}

.my-custom-button {
    width: 105px;
        height: 35px;
        text-align: center;
        border-radius: 5px;
        margin: 15px 3px 3px 3px;
        color: white;
        background-color: $color1;
        font-weight: bold;
        box-shadow: 2px 2px 4px black, -2px -2px 4px $color2;
        border: solid black 2px;
}

.my-custom-popup {
    background-color: $color2;
    color: $color1;
    text-shadow: 1px 1px 0px black;
    box-shadow: 2px 2px 4px $color1, -2px -2px 4px $color1;
}